<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/form.css">
</head>
<body>
    <div class="container">

 
        <div class="row">
            
            <h4 style="text-align:center">We'd love to hear from you!</h4>
            <p>Submit the form once and comeback and Download your website</p>
            <button class="minimal-button">
    
                <a href="/generate/<%=username %>">Download</a>
            </button>
        </div>
        <form action="/form" method="post" class="row input-container">
            <div class="col-xs-12">
                <div class="styled-input wide">
                    <input type="text"  name="logo"/>
                    <label>Logo Name</label>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="styled-input wide">
                    <input type="text"  name="name"/>
                    <label>Name</label>
                </div>
            </div>
            <div class="skills-section">
                <!-- Keep skill input as is -->
                <div class="col-xs-12">
                    <div class="styled-input wide">
                        <input type="text" name="skills[]" />
                        <label>Skill</label>
                    </div>
                </div>
            </div>
            <button class="add-skill-btn minimal-button">+</button>
            <button class="remove-skill-btn minimal-button">-</button>
            <div class="projects-section">
                <div class="project-card col-xs-12">
                    <h2>Project 1</h2>
                    <div class="styled-input wide">
                        <input type="text"  name="projects[0][image]" />
                        <label>Image URL</label>
                    </div>
                    <div class="styled-input wide">
                        <input type="text"  name="projects[0][projectName]" />
                        <label>Project Name</label>
                    </div>
                    <div class="styled-input wide">
                        <input type="text"  name="projects[0][projectLink]" />
                        <label>Project Link</label>
                    </div>
                </div>
            </div>
            <button class="add-project-btn minimal-button">Add Project</button>
            <button class="remove-project-btn minimal-button">Remove Project</button>
            <div class="col-xs-12">
                <div class="styled-input wide">
                    <textarea name="about"></textarea>
                    <label>About</label>
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="styled-input">
                    <input type="email" name="email"  />
                    <label>Email</label>
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="styled-input" style="float:right;">
                    <input type="text"  name="phone"/>
                    <label>Phone Number</label>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="styled-input wide" style="float:right;">
                    <input type="text"  name="cvLink"/>
                    <label>CV Link</label>
                </div>
            </div>
            <div class="col-xs-12">
                <input type="submit" value="Submit" class="btn-lrg submit-btn">
            </div>
           
    
           
         
        </div>
        </form>


    <script>
        const addSkillButton = document.querySelector('.add-skill-btn');
        const removeSkillButton = document.querySelector('.remove-skill-btn');
        const addProjectButton = document.querySelector('.add-project-btn');
        const removeProjectButton = document.querySelector('.remove-project-btn');
        const skillsSection = document.querySelector('.skills-section');
        const projectsSection = document.querySelector('.projects-section');
        let skillCounter = 2;
        let projectCounter = 2;
    
        addSkillButton.addEventListener('click', () => {
            if (skillCounter <= 8) {
                const skillInput = document.createElement('div');
                skillInput.className = 'col-xs-12';
                skillInput.innerHTML = `
                    <div class="styled-input wide">
                        <input type="text"  name="skills[]" />
                        <label>Skill</label>
                    </div>
                `;
                skillsSection.appendChild(skillInput);
                skillCounter++;
            }
        });
    
        removeSkillButton.addEventListener('click', () => {
            if (skillCounter > 2) {
                skillCounter--;
                const skillInput = skillsSection.lastElementChild;
                skillsSection.removeChild(skillInput);
            }
        });
    
        addProjectButton.addEventListener('click', () => {
            const projectCard = document.createElement('div');
            projectCard.className = 'project-card col-xs-12';
            projectCard.innerHTML = `
                <h2>Project ${projectCounter}</h2>
                <div class="styled-input wide">
                    <input type="text" name="projects[${projectCounter}][image]" />
                    <label>Image URL</label>
                </div>
                <div class="styled-input wide">
                    <input type="text" name="projects[${projectCounter}][projectName]" />
                    <label>Project Name</label>
                </div>
                <div class="styled-input wide">
                    <input type="text"  name="projects[${projectCounter}][projectLink]" />
                    <label>Project Link</label>
                </div>
            `;
            projectsSection.appendChild(projectCard);
            projectCounter++;
        });
    
        removeProjectButton.addEventListener('click', () => {
            if (projectCounter > 2) {
                projectCounter--;
                const projectCard = projectsSection.lastElementChild;
                projectsSection.removeChild(projectCard);
            }
        });
    </script>
</body>
</html>
